#canvasMap{
     
      position: absolute;
        width : 3200px;
        height : 3200px;
		z-index: 500;
}

#legende {
	font-size: 12px;
	color: #990000;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;
	  
}